@import "tailwindcss";

@font-face {
  font-family: "ArockFontA4";
  src: url("./assets/Fonts/a4.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "ArockFontU4";
  src: url("./assets/Fonts/u4.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "ArockFontU8";
  src: url("./assets/Fonts/u8.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}